# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
env/
.venv/

# Environment variables
.env
*.env.local

# Node / React
node_modules/
build/
dist/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Logs
*.log
